<hello name="{{ name }}"></hello>
<div class="title">Hall, Deric</div>
<div class="container">
  <div class="">Student Info</div>
  <div class="grid-container">
    <div class="grid-item">
      <span> Student ID </span>
      <p>20930828</p>
    </div>
    <div class="grid-item">
      <span> Program Code </span>
      <p>PSY-637</p>
    </div>
    <div class="grid-item">
      <span> Program</span>
      <p>Bachelor of Science in Psychology</p>
    </div>
    <div class="grid-item">
      <span> Cumulative GPA </span>
      <p>3.86</p>
    </div>
    <div class="grid-item">
      <span> Cost of Attendance </span>
      <p>$60,000</p>
    </div>
    <div class="grid-item">
      <span>Fund Source Code </span>
      <p>MWS-1295</p>
    </div>
    <div class="grid-item">
      <span>Scholarship </span>
      <p>Miller-white Scholarship</p>
    </div>
    <div class="grid-item">
      <span> Scholarship Amount (Range) </span>
      <p>$500 - $3,000</p>
    </div>
    <div class="grid-item">
      <span> EFC </span>
      <p>$23,600</p>
    </div>
    <div class="grid-item">
      <span> Status </span>
      <p>In Progress</p>
    </div>
  </div>
</div>
